{
  "root": true,
  "env": { "browser": true, "es2020": true, "node": true },
  "extends": [
    "prettier",
    "eslint:recommended",
    "eslint-config-prettier",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react"],
    },
  },
  "settings": {
    "react": { "version": "detect" },
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
      },
    },
  },
  "plugins": ["react-refresh", "react", "import"],
  "rules": {
    "react/jsx-no-target-blank": "off",
    // "react-refresh/only-export-components": [
    //   "warn",
    //   { "allowConstantExport": true },
    // ],
    "no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }],
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error",
    "react/display-name": "off",
    "react/prop-types": "warn",
    "no-console": "error",
    "no-debugger": "error",
    "react/no-unknown-property": "off",
    "sort-imports": ["error", {
        "ignoreCase": true,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": ["none", "all", "multiple", "single"],
        "allowSeparatedGroups": false
    }],
    "import/order": [
      "error",
      {
        "groups": [
          ["external", "builtin"],
          "internal",
          ["sibling", "parent"],
          "index",
        ],
        "pathGroups": [
          {
            "pattern": "@(react)",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "@/**",
            "group": "internal"
          },
        ],
        "pathGroupsExcludedImportTypes": ["internal", "react"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
      },
    ],
  }
}
